<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

<md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>

   <div class="app-content">

    <md-card>
       <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
        </md-hint>
      </md-input>
      <div class="btn"><button md-raised-button color="primary">PRIMARY RAISED</button></div>
      <div class="btn"><button md-raised-button color="primary">ACCENT RAISED</button></div>
    </md-card>
   </div>

   </md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>

